* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Freight big pro";
}

body,
html {
    width: 100%;
    height: 100%;
}

#main {
    background-color: black;
}

#loader {
    color: #ffff;
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    text-align: center;
    /* display: none; */
}

#loader h1 {
    font-weight: 100;
    font-size: 6.9vw;
    line-height: 5.5vw;
    letter-spacing: -2px;
    position: relative;
    z-index: 10;
}

#loader video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;
}

#yellow1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    z-index: 8;
}

#yellow2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    z-index: 7;
}

#nav {
    position: absolute;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    z-index: 11;
}

#nav svg path {
    fill: #000;
}

#nav-items ul {
    display: flex;
    list-style: none;
}

#nav-items ul li {
    font-weight: 700;
    font-size: 1.5vw;
    margin-left: 40px;
    cursor: pointer;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #F5E41B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#page1 h1 {
    font-weight: 100;
    font-size: 6.9vw;
    line-height: 5.5vw;
    letter-spacing: -2px;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #ffff;
}

.image-container {
    padding: 30px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.image-div {
    height: 40vw;
    width: 30vw;
    position: relative;
    overflow: hidden;
    margin: 15px;
}

.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all ease 0.5s;
    z-index: 9;
}

.overlay p {
    color: white;
    font-size: 2.5vw;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    line-height: 2.5vw;
    transition: all ease 0.5s;
    transition-delay: 0.2s;
}

.image-div:hover .overlay {
    background-color: #000;
}

.image-div:hover .overlay p {
    opacity: 1;
}

.image-div:hover img {
    scale: 1.1;
}


.elem {
    /* background-color: red; */
    width: 100%;
    position: relative;
    cursor: pointer;
}

.elem .moving .blur {
    position: absolute;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #f5e31bb0, #F5E41B, #f5e31bb0);
    box-shadow: 10px 0px 20px 20px #F5E41B, -10px 0px 20px 100px #F5E41B;
    height: 100%;
    z-index: 8;
}

.elem h2 {
    font-size: 6.8vw;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    z-index: 9;
    line-height: 6vw;
}

.elem .moving {
    width: 100%;
    background-color: #F5E41B;
    white-space: nowrap;
    padding: 8px 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -45%) scaleY(0);
    transition: all 0.3s;
    overflow: hidden;
}

.elem .moving .moving-in {
    /* background-color: gray; */
    display: inline-block;
    white-space: nowrap;
    animation: moving 5s linear infinite;
    /*animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

.elem .moving .moving-in h5 {
    color: black;
    display: inline-block;
    font-size: 17px;
    font-family: gilory;
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: 400;
    /* font-style: italic; */
    transition: all ease 0.3s;
    transition-delay: 0.2s;
}

.elem:hover .moving {
    transform: translate(0, -45%) scaleY(1);
}

.elem:hover .moving h5 {
    opacity: 1;
}

.elem:hover h2 {
    font-style: italic;
    color: black;
}

@keyframes moving {
    from {
        transform: translateX(-100%);
    }
}

#footer {
    height: 40vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 40px;
}

#footer #foot {
    height: 50%;
    width: 100%;
    background-color: #000;
}

#footer {
    font-family: gilroy;
    text-transform: uppercase;
    font-size: 1vw;
    cursor: pointer;
}